<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include( "../includes/head-start.ejs",
      { docTitle: "Blocipedia | Sign In" }
    ); -%>
  </head>
  <body>
    <%- include( "../includes/navbar.ejs" ); -%>
    <main class="container px-0 py-3">
      <%- include( "../includes/messages.ejs" ); -%>

      <h1>Sign In</h1>

      <form method="POST" action="/users/sign-in">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" name="username" id="username" aria-describedby="usernameHelp" placeholder="Enter username">
          <small id="usernameHelp" class="form-text text-muted">Username must not be empty.</small>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" name="password" id="password" aria-describedby="passwordHelp" placeholder="Enter password">
          <small id="passwordHelp" class="form-text text-muted">Password must not be empty.</small>
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
      </form>

    </main>
    <%- include( "../includes/body-end.ejs" ); -%>
  </body>
</html>
